.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px;
}

.header-menu {
    align-self: center;
}

.header-menu-list {
  list-style: circle;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 32px;
  align-self: center;
}

.header-menu-item-active {
    list-style: none;
}

.header-menu-item-active .header-menu-link {
    text-decoration: none;
}

.header-logo {
  width: 148px;
  justify-self: center;
}

.logo-black {
    width: 100%;
    height: 105px;
}

.contacts {
    margin: 0;
    padding: 0;
    font-style: normal;
}

.header-contacts {
    justify-self: end;
    align-self: center;
}

.contact-list {
  list-style: none; 
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.cover {
    min-height: 757px;
    width: auto;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    width: 1440px;
    height: 757px;
    background-color: rgb(0 0 0/ .5);
    
}

.cover-title {
    color: #FFF;
font-family: Raleway;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 115%; /* 115px */
letter-spacing: 30px;
text-transform: uppercase;
}

.accent-span {
    display: block;

}

.text-left {
    padding-left: 50px;
    padding-top: 165px;
}

.text-center {
    padding-left: 505px;
    padding-top: 13px;

}

.text-right {
    letter-spacing: 30px;
}

.title-last-letter {
letter-spacing: 61px;
}

.title-first-letter {
    letter-spacing: 60px;
    padding-top: 5px;
    padding-left: 974px;
}

.cover-description {
    margin: auto;
    display: flex;
padding: 128px 50px 50px 422px;
justify-content: space-between;
align-items: center;
}

.cover-description-text {
display: flex;
color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 127.273% */
text-transform: uppercase;
word-spacing: 17px;
}

.description-last-word {
    word-spacing: 21px;
}

.bet-button {
    background-color: transparent;
border: 1px solid #FFF;
width: 257px;
height: 52px;
flex-shrink: 0;
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.lots {
    margin-top: 180px;
}

.lot-title {
    color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-left: 90px;
margin: bottom 27px;
}

.lots-link {
    color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 90px;
}


