.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px;
}

.header-menu {
  align-self: center;
}

.header-menu-list {
  list-style: circle;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 32px;
  align-self: center;
}

.header-menu-item-active {
  list-style: none;
}

.header-menu-item-active .header-menu-link {
  text-decoration: none;
}

.header-logo {
  width: 148px;
  justify-self: center;
}

.logo-black {
  width: 100%;
  height: 105px;
}

.contacts {
  margin: 0;
  padding: 0;
  font-style: normal;
}

.header-contacts {
  justify-self: end;
  align-self: center;
}

.contact-list {
  list-style: none;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.cover {
  position: relative;
  min-height: 757px;
  max-width: 1440px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/ 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover-title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
}

.accent-span {
  display: block;
  padding-top: 20px;
}

.text-left {
    padding-top: 0;
}

.text-center {
  text-align: center;
  line-height: 100%;
}

.text-right {
  text-align: end;
  letter-spacing: 30px;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 61px;
}

.letter-spacing-norm {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover-description {
  padding: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 237px;
  justify-items: end;
  align-items: end;
  position: relative;
  z-index: 1;
}

.cover-description-text {
  display: flex;
  color: #fff;
  align-self:
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 17px;
  padding-bottom: 12px
}

.word-spacing-extended {
  word-spacing: 21px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid currentColor;
  width: 257px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  margin: 180px 50px;
}

.lot-title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}

.lots-card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  flex-basis: 430px;
  margin-bottom: 30px;
}

.lots-card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  padding-top: 27px;
}

.card-link {
  display: block;
  width: 430px;
  height: 450px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
  padding: 50px 40px 0;
}

.card-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  z-index: 2;
  padding: 0px 40px 50px;
}

.about {
  margin: 180px 50px;
}

.about-column {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-content: center;
}

.about-logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
}

.about-logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about-title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 102px 0 75px 25px;
}

.about-text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 0 0 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 50px;
  padding-top: 4px;
}

.footer-contacts (
    align-self: start;
) .footer-menu {
  align-self: start;
}

.footer-menu-list {
  list-style: none;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: right;
  padding-left: 207px;
  gap: 48px;
}

.footer-social-icon {
  height: 48px;
  width: 48px;
}
